.randomRow{
    background-color: lightslategray
}

.hide{
    display: block;
}
.show{
    display: none;
}

.success-todo-name{
    background-color: lightgreen;
    border: solid 1px green;
    animation:animatezoom 0.6s;
}@keyframes animatezoom{from{transform:scale(0)} to{transform:scale(1)}}